@import "tailwindcss";


body {
  font-family: var(--font-poppins);
}


@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.animate-slidein {
  animation: slidein 0.3s ease-out;
}

.animate-slideout {
  animation: slideout 0.3s ease-out;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}